.navegacao {
    margin: 1em 2.5em;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.25em;
    align-items: center;
}

.logotipo {
    display: flex;
    color: var(--preto-claro);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--fonte-header);
    align-items: center;
    gap: 8px;
}

.link {
    color: var(--cinza-claro);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--fonte-header);
    
    gap: 40px;
}

.link_s__uteis {
    gap: 2.5em;
}

.botao {
    font-family: var(--fonte-header);
}   
   
    .botao__entrar {
    border: none;
    background-color: var(--branco);
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza-claro);
}

.botao__cadastrar {
    color: var(--branco);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--vinho);
    border-radius: 8px;
    padding: 0.625em 1.125em;
    border: transparent;
}